<!DOCTYPE html>
<html>
  <head>
    <title>PersonalProject</title>
    <script src="http://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js"></script>
    <link href="http://api.tiles.mapbox.com/mapbox.js/v1.0.2/mapbox.css" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
      <div class="container-fluid">


          <!--Brand and toggle get grouped for better mobile display-->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Genetic Thing", root_url, class: "navbar-brand page-scroll"  %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "About", '/about', class: "page-scroll" %>
              </li>
              <li>
                <%= link_to "Simulator", '/map', class: "page-scroll" %>
              </li>
              <li>
                <%= link_to "Contact", '#contact', class: "page-scroll" %>
              </li>

              <% if session[:user_id] %>
              <li>
                <%= link_to "My Stats", '/account', class: "page-scroll" %>
              </li>
            <% else %>
              <li>
                <%= link_to "Log In", "/auth/twitter", class: "page-scroll" %>
              </li>
            <% end %>

            </ul>
          </div>
          <!-- /.navbar-collapse -->


    </nav>

    <div class="page"><%= yield %></div>

    <section id="contact">


      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Interested in giving me a job?! Of course, why wouldn't you be?! Shoot me a call or email because I'm the bees knees!</p>
          </div>
          <div class="col-lg-4 col-lg-offset-2 text-center">
            <i style="visibility: visible; animation-name: bounceIn;" class="fa fa-phone fa-3x wow bounceIn"></i>
            <p>303-303-3030</p>
          </div>
          <div class="col-lg-4 text-center">
            <i style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;" class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
            <p><a href="mailto:your-email@your-domain.com">xvalentino13@gmail.com</a></p>
          </div>
        </div>
      </div>


    </section>

  </body>
</html>
